<form [formGroup]="form" (ngSubmit)="onSubmit()" >
    <div class="input-group mb-2">
        <label class="input-group-text">Company Name</label>
        <input formControlName="companyName" type="text" class="form-control">
    </div>
    <div class="input-group mb-2">
        <label class="input-group-text">Contact Name</label>
        <input formControlName="contactName" type="text" class="form-control">
    </div>
    <div class="input-group mb-2">
        <label class="input-group-text">Address</label>
        <input formControlName="address" type="text" class="form-control">
    </div>
    <div class="input-group mb-2">
        <label class="input-group-text">City</label>
        <input formControlName="city" type="text" class="form-control">
    </div>
    <div class="input-group mb-2">
        <label class="input-group-text">Country</label>
        <input formControlName="country" type="text" class="form-control">
    </div>
    <button [disabled]="!this.form.valid" type="submit" class="btn btn-primary">Save</button>
</form>