
<form [formGroup]="form" (ngSubmit)="this.onSubmit()" >
    <input formControlName="supplierId" type="text" hidden>
    <div class="input-group mb-2">
        <label class="input-group-text">Company Name</label>
        <input formControlName="companyName" type="text" class="form-control">
    </div>
    <div class="input-group mb-2">
        <label class="input-group-text">Contact Name</label>
        <input formControlName="contactName" type="text" class="form-control">
    </div>
    <div class="input-group mb-2">
        <label class="input-group-text">Address</label>
        <input formControlName="address" type="text" class="form-control">
    </div>
    <div class="input-group mb-2">
        <label class="input-group-text">City</label>
        <input formControlName="city" type="text" class="form-control">
    </div>
    <div class="input-group mb-2">
        <label class="input-group-text">Country</label>
        <input formControlName="country" type="text" class="form-control">
    </div>
    <button [disabled]="!this.form.valid" type="submit" class="m-2 btn btn-primary">Save</button>
    <button type="button" class="btn btn-danger" (click)="this.form.reset()">Cancel</button>
</form>

<!-- this.cleanForm(); -->